<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>
    <h1>Tervetuloa online pizzapalveluun!</h1>
    <p>
Online pizzapalvelustamme voit tilata erilaisia pizzoja ja juomia <b>suoraan kotiovelle</b>.
<p>
Jotta pääset tilaamaan ja maistamaan herkullisia tuotteitamme, sinun täytyy luoda käyttäjä.
Luomalla käyttäjän voit myös antaa arvosteluja, jättää kommentteja, tarkastella omaa tilaushistoriaa ja omia suosikkituotteita.
<br> Yllä olevista painikkeista voit siirtyä tarkastelemaan tarkemmin valikoimaamme ja omia sivujasi.

<p>
Tästä voit mennä <a href="https://fi.images.search.yahoo.com/yhs/search;_ylt=AwrIQZJ3OtJjNDAA3zKHLgx.;_ylu=Y29sbwMEcG9zAzEEdnRpZAMEc2VjA3BpdnM-?p=pizza&type=Y219_F163_204671_120722&hsimp=yhs-freshy&hspart=tro&ei=UTF-8&fr=yhs-tro-freshy">inspiroitumaan</a>.


</p>
<hr>
Sivu päättyy tähän.

{% endblock %}