<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Tilaussivu{% endblock %}
{% block content %}

<div class="content">
    

    Voit valita maksimissaan 5 jokaista pizzaa ja juomaa. Jokainen pizza maksaa 15 euroa ja jokainen juoma maksaa 3 euroa.
    Tilaus maksetaan toimituksen yhteydessä.

    <br>
    <br>

    Tilatuin pizzamme on {{ most_pizzas }}  ja tilatuin juomamme on  {{ most_drinks  }}

</div>
<div class="content2">


    <form action="/result" method="POST">
        Valitse haluamasi pizzat:
    
        <p>
        1. Marinara             <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        2. Margherita           <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        3. Pepperoni            <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        4. Salami               <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        5. Hawaii               <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        6. Quattro Formaggi     <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
        <br>
        <br>


        Valitse haluamasi juomat:
        <p>
        1. Coca-Cola            <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        2. Coca-Cola Zero       <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        3. Pepsi                <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        4. Pepsi Max            <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        5. Fanta                <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        6. Sprite               <input type="range" name="drink" value="0" min= "0" max= "5" step="1"> <br>
        </p>
        <br>
        <br>

        Mikäli sinulla on allergioita tai erikoistoiveita, lisää ne alla olevaan tekstikenttään, niin keittiömme osaa ottaa ne huomioon! <br>
        <textarea name="message" rows="3" cols="50"></textarea>
        <br>
        <br>
        Anna osoite ja tarkemmat saapumisohjeet <br>
        <textarea name="address" rows="3" cols="50"></textarea>
        <p>
        <br>
        <input id= "order-button" type="submit" value="Lähetä">

    </form>
</div>

{% endblock %}