<!DOCTYPE html>
{% if session.user_id %}
<p>Hei {{ session.username }} !</p>
<br>
<p>Suosikkipizzasi ovat:</p>
<br>
<p>Suosikkijuomasi on:</p>
<br>
<p>Tilaushistoriasi:</p>
<br>
<p>Jätä meille arvostelu!</p>
<p>Anna palautetta! Palautteet näkyvät etusivullamme.</p>

<form action="/send" method="POST">
    Viesti: <br>
    <textarea name="kommentti" rows="3" cols="50" minlength="1" maxlength="100"></textarea>
    <br>
    <input type="submit" value="Lähetä">
</form>
    

<a href="/logout">Kirjaudu ulos</a>

{% else %}

<p> Kirjaudu sisään</p>

<a href="/login">Kirjaudu</a>

<br>

<p> Etkö ole vielä rekisteröitynyt? Rekisteröidy tästä!</p>

<a href="/create">Rekisteröidy</a>

{% endif %}
