<!DOCTYPE html>
{% if session.user_id %}
<p>Hei {{ session.username }} !</p>
<br>
<p>Suosikkipizzasi ovat:</p>
<br>
<p>Suosikkijuomasi on:</p>
<br>
<p>Tilaushistoriasi:</p>
<br>
<p>Jätä meille arvostelu!</p>

<a href="/send">Anna palautetta! Palautteet näkyvät etusivullamme. </a>
<br>
<br>
<p>Jätäthän myös meille arvosanan!</p>
<a href="/rate">Anna arvosana! </a>


<br>


<a href="/logout">Kirjaudu ulos</a>

{% else %}

<p> Kirjaudu sisään</p>

<a href="/login">Kirjaudu</a>

<br>

<p> Etkö ole vielä rekisteröitynyt? Rekisteröidy tästä!</p>

<a href="/create">Rekisteröidy</a>

{% endif %}
