<!DOCTYPE html>
<form action="/result" method="POST">
    Valitse haluamasi pizzat:
    <p>
    1. Marinara             <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    2. Margherita           <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    3. Pepperoni            <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    4. Salami               <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    5. Hawaii               <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    6. Quattro Formaggi     <input type="range" name="pizza" value="0" min= "0" max= "5" step="1"> <br>
    <br>
    <br>

    Mikäli sinulla on allergioita tai erikoistoiveita, lisää ne alla olevaan tekstikenttään, niin keittiömme osaa ottaa ne huomioon! <br>
    <textarea name="message" rows="3" cols="50"></textarea>
    <p>
    <input type="submit" value="Lähetä">
    </form>
    